.insurer .chart-bar {
  animation: openUp 2s forwards;
  animation-delay: 1s;
  transform: scaleY(1); }

.hidden .chart-bar {
  animation: openUp 2s reverse;
  transform: scaleY(0);
  height: 0; }

.insurers-map-key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 2em;
  left: 2em; }
  @media only screen and (max-width: 769px) {
    .insurers-map-key {
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 1em; }
      .insurers-map-key .chart-bar {
        height: 1em !important;
        width: 3em !important; } }
  .insurers-map-key div,
  .insurers-map-key .chart-bar {
    font: 10px sans-serif;
    text-align: right;
    margin: 0.5em;
    position: relative;
    color: white;
    width: 2em;
    display: inline-block;
    bottom: 0;
    height: 0;
    animation: openUp 2s forwards; }
    .insurers-map-key div label,
    .insurers-map-key div .chart-bar-label,
    .insurers-map-key .chart-bar label,
    .insurers-map-key .chart-bar .chart-bar-label {
      text-align: center;
      margin: 0 auto;
      bottom: -2em;
      position: absolute;
      left: 0;
      right: 0; }
    .insurers-map-key div text,
    .insurers-map-key div .chart-bar-text,
    .insurers-map-key .chart-bar text,
    .insurers-map-key .chart-bar .chart-bar-text {
      margin: 0 auto;
      left: 0;
      right: 0;
      position: absolute;
      text-align: center;
      top: -2em; }

@keyframes openUp {
  0% {
    height: 0; } }
