.about-project-container
  background-color: #efefef
  display: flexbox
  width: 100%

  h2
    font-size: 28px
    margin: 2% auto
    width: 60%
  p
    font-size: 20px
    width: 60%
    color: #777777
    margin: 2% auto
    display: flex
    padding: 0
    

  span
    margin: 0 auto
    font-family: unset
    font-style: italic
    display: block
    text-align: center
    color: gray
    padding-top: 25px
    display: block
  img
    color: gray
    margin-left: 25%
    display: flex
    text-align: center
    margin: 0 auto

.about-container
  width: 100%


@media only screen and (max-width: 769px) 
  // .about-project-container p 
  //   margin-top: 2%
  //   color: #6f6f6f
  //   padding: 10px 0px
  //   width: 50%
  //   margin-left: 10%
  //   span
  //     margin-left: 29%