#about
    background-color: #efefef
    h2
      margin: 69px 36% 0px 0px

    p
      font-size: 20px
      width: 53%
      color: #777777


    p
      margin-top: 2%
      color: #777777
    span
      margin-top: 5%
      margin-left: 41%
      font-family: unset
      font-style: italic
      color: #b7b6b6
      display: flex
    a
      color: #c7c7c7
      font-size: 27px
      float: left
      margin-left: 43%
      font-weight: 100
      direction: flex
