#about
    background-color: #efefef
    h2
      font-size: 28px
      margin: 69px 34% 0px 0px

    p
      font-size: 20px
      width: 53%
      color: #777777

    p
      margin-top: 2%
      color: #777777
      padding: 30px 0
    span
      margin: 0 auto
      font-family: unset
      font-style: italic
      display: block
      text-align: center
    a
      color: gray
      margin-left: 25%
      display: block
      text-align: center
      margin: 0 auto
@media only screen and (max-width: 769px) 
  #about p 
    margin-top: 2%
    color: #6f6f6f
    padding: 10px 0px
    width: 70%


