aside.navigation {
  height: 100vh;
  left: 1em;
  position: absolute;
  width: 100px;
  z-index: 2; }
  aside.navigation nav {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center; }
    aside.navigation nav a {
      color: white;
      display: block;
      text-decoration: none;
      font-family: 'Anton', 'sans-serif';
      font-size: 0.8em; }
      aside.navigation nav a:active {
        color: white; }
      aside.navigation nav a:hover {
        color: grey; }
  aside.navigation .contribute:last-of-type {
    bottom: 0;
    color: red;
    position: absolute; }
