.map-navigation
    position: absolute
    top: 0
    z-index: 11
    a
        color: white
        margin: 1em
        text-decoration: none
        &:hover
            text-decoration: underline
        &:hover, &:visited
            color: white