.filter-industry .insurer-map-point {
  fill: #DDD; }
  .filter-industry .insurer-map-point[occupation="NL"] {
    fill: #DDD; }
    .filter-industry .insurer-map-point[occupation="NL"]:hover {
      box-shadow: 0 0 8px #DDD, inset 0 0 8px #DDD; }
  .filter-industry .insurer-map-point[occupation*="Steam"], .filter-industry .insurer-map-point[occupation*="boat"] {
    fill: #AD2D5C; }
    .filter-industry .insurer-map-point[occupation*="Steam"]:hover, .filter-industry .insurer-map-point[occupation*="boat"]:hover {
      box-shadow: 0 0 8px #AD2D5C, inset 0 0 8px #AD2D5C; }
  .filter-industry .insurer-map-point[occupation*="Domestic"] {
    fill: #FF9B96; }
    .filter-industry .insurer-map-point[occupation*="Domestic"]:hover {
      box-shadow: 0 0 8px #FF9B96, inset 0 0 8px #FF9B96; }
  .filter-industry .insurer-map-point[occupation*="Carpenter"] {
    fill: #821D19; }
    .filter-industry .insurer-map-point[occupation*="Carpenter"]:hover {
      box-shadow: 0 0 8px #821D19, inset 0 0 8px #821D19; }
  .filter-industry .insurer-map-point[occupation*="Blacksmith"] {
    fill: #96F4FF; }
    .filter-industry .insurer-map-point[occupation*="Blacksmith"]:hover {
      box-shadow: 0 0 8px #96F4FF, inset 0 0 8px #96F4FF; }
  .filter-industry .insurer-map-point[occupation*="Stevedore"] {
    fill: #197782; }
    .filter-industry .insurer-map-point[occupation*="Stevedore"]:hover {
      box-shadow: 0 0 8px #197782, inset 0 0 8px #197782; }
  .filter-industry .insurer-map-point[occupation*="Servant"] {
    fill: #FF6F69; }
    .filter-industry .insurer-map-point[occupation*="Servant"]:hover {
      box-shadow: 0 0 8px #FF6F69, inset 0 0 8px #FF6F69; }
  .filter-industry .insurer-map-point[occupation*="Agriculturalist"] {
    fill: #FFEEAD; }
    .filter-industry .insurer-map-point[occupation*="Agriculturalist"]:hover {
      box-shadow: 0 0 8px #FFEEAD, inset 0 0 8px #FFEEAD; }
  .filter-industry .insurer-map-point[occupation*="Mason"] {
    fill: #3F5666; }
    .filter-industry .insurer-map-point[occupation*="Mason"]:hover {
      box-shadow: 0 0 8px #3F5666, inset 0 0 8px #3F5666; }
  .filter-industry .insurer-map-point[occupation*="Coach"] {
    fill: #56D9CD; }
    .filter-industry .insurer-map-point[occupation*="Coach"]:hover {
      box-shadow: 0 0 8px #56D9CD, inset 0 0 8px #56D9CD; }
  .filter-industry .insurer-map-point[occupation*="Wheelwright"] {
    fill: #C6E070; }
    .filter-industry .insurer-map-point[occupation*="Wheelwright"]:hover {
      box-shadow: 0 0 8px #C6E070, inset 0 0 8px #C6E070; }
  .filter-industry .insurer-map-point[occupation*="Merchant"] {
    fill: #91C46C; }
    .filter-industry .insurer-map-point[occupation*="Merchant"]:hover {
      box-shadow: 0 0 8px #91C46C, inset 0 0 8px #91C46C; }
  .filter-industry .insurer-map-point[occupation*="Painter"] {
    fill: #F5E5C0; }
    .filter-industry .insurer-map-point[occupation*="Painter"]:hover {
      box-shadow: 0 0 8px #F5E5C0, inset 0 0 8px #F5E5C0; }
  .filter-industry .insurer-map-point[occupation*="Cook"] {
    fill: #F6F3EB; }
    .filter-industry .insurer-map-point[occupation*="Cook"]:hover {
      box-shadow: 0 0 8px #F6F3EB, inset 0 0 8px #F6F3EB; }
  .filter-industry .insurer-map-point[occupation*="Clerk"] {
    fill: #D17C78; }
    .filter-industry .insurer-map-point[occupation*="Clerk"]:hover {
      box-shadow: 0 0 8px #D17C78, inset 0 0 8px #D17C78; }
  .filter-industry .insurer-map-point[occupation*="Seamstress"] {
    fill: #2E3B64; }
    .filter-industry .insurer-map-point[occupation*="Seamstress"]:hover {
      box-shadow: 0 0 8px #2E3B64, inset 0 0 8px #2E3B64; }
  .filter-industry .insurer-map-point[occupation*="Barber"] {
    fill: #FFD101; }
    .filter-industry .insurer-map-point[occupation*="Barber"]:hover {
      box-shadow: 0 0 8px #FFD101, inset 0 0 8px #FFD101; }
  .filter-industry .insurer-map-point[occupation*="Miner"] {
    fill: #FF9320; }
    .filter-industry .insurer-map-point[occupation*="Miner"]:hover {
      box-shadow: 0 0 8px #FF9320, inset 0 0 8px #FF9320; }
  .filter-industry .insurer-map-point[occupation*="Hemp"] {
    fill: #97B8A3; }
    .filter-industry .insurer-map-point[occupation*="Hemp"]:hover {
      box-shadow: 0 0 8px #97B8A3, inset 0 0 8px #97B8A3; }
  .filter-industry .insurer-map-point[occupation*="Fireman"] {
    fill: #EF3E4A; }
    .filter-industry .insurer-map-point[occupation*="Fireman"]:hover {
      box-shadow: 0 0 8px #EF3E4A, inset 0 0 8px #EF3E4A; }
  .filter-industry .insurer-map-point[occupation*="Widow"] {
    fill: #C02A1B; }
    .filter-industry .insurer-map-point[occupation*="Widow"]:hover {
      box-shadow: 0 0 8px #C02A1B, inset 0 0 8px #C02A1B; }
  .filter-industry .insurer-map-point[occupation*="Mill"] {
    fill: #B32A48; }
    .filter-industry .insurer-map-point[occupation*="Mill"]:hover {
      box-shadow: 0 0 8px #B32A48, inset 0 0 8px #B32A48; }
  .filter-industry .insurer-map-point[occupation*="Nurse"] {
    fill: #CF2F89; }
    .filter-industry .insurer-map-point[occupation*="Nurse"]:hover {
      box-shadow: 0 0 8px #CF2F89, inset 0 0 8px #CF2F89; }
  .filter-industry .insurer-map-point[occupation*="Butcher"] {
    fill: #96CBD1; }
    .filter-industry .insurer-map-point[occupation*="Butcher"]:hover {
      box-shadow: 0 0 8px #96CBD1, inset 0 0 8px #96CBD1; }
  .filter-industry .insurer-map-point[occupation*="Bricklayer"] {
    fill: #008FD3; }
    .filter-industry .insurer-map-point[occupation*="Bricklayer"]:hover {
      box-shadow: 0 0 8px #008FD3, inset 0 0 8px #008FD3; }
  .filter-industry .insurer-map-point[occupation*="Drayman"] {
    fill: #F4C7EE; }
    .filter-industry .insurer-map-point[occupation*="Drayman"]:hover {
      box-shadow: 0 0 8px #F4C7EE, inset 0 0 8px #F4C7EE; }
  .filter-industry .insurer-map-point[occupation*="Laborer"] {
    fill: #FE667B; }
    .filter-industry .insurer-map-point[occupation*="Laborer"]:hover {
      box-shadow: 0 0 8px #FE667B, inset 0 0 8px #FE667B; }
  .filter-industry .insurer-map-point[occupation*="Engineer"] {
    fill: #FF5035; }
    .filter-industry .insurer-map-point[occupation*="Engineer"]:hover {
      box-shadow: 0 0 8px #FF5035, inset 0 0 8px #FF5035; }
  .filter-industry .insurer-map-point[occupation*="Washer"] {
    fill: #A39AB4; }
    .filter-industry .insurer-map-point[occupation*="Washer"]:hover {
      box-shadow: 0 0 8px #A39AB4, inset 0 0 8px #A39AB4; }
  .filter-industry .insurer-map-point[occupation*="Cigar"] {
    fill: #BF1361; }
    .filter-industry .insurer-map-point[occupation*="Cigar"]:hover {
      box-shadow: 0 0 8px #BF1361, inset 0 0 8px #BF1361; }
  .filter-industry .insurer-map-point[occupation*="Tailor"] {
    fill: #FBECCF; }
    .filter-industry .insurer-map-point[occupation*="Tailor"]:hover {
      box-shadow: 0 0 8px #FBECCF, inset 0 0 8px #FBECCF; }
  .filter-industry .insurer-map-point[occupation*="Baker"] {
    fill: #112378; }
    .filter-industry .insurer-map-point[occupation*="Baker"]:hover {
      box-shadow: 0 0 8px #112378, inset 0 0 8px #112378; }
  .filter-industry .insurer-map-point[occupation*="Tobacco"] {
    fill: #BB828B; }
    .filter-industry .insurer-map-point[occupation*="Tobacco"]:hover {
      box-shadow: 0 0 8px #BB828B, inset 0 0 8px #BB828B; }
  .filter-industry .insurer-map-point[occupation*="Machine"] {
    fill: #CF423C; }
    .filter-industry .insurer-map-point[occupation*="Machine"]:hover {
      box-shadow: 0 0 8px #CF423C, inset 0 0 8px #CF423C; }
  .filter-industry .insurer-map-point[occupation*="Railroad"] {
    fill: #F79E7C; }
    .filter-industry .insurer-map-point[occupation*="Railroad"]:hover {
      box-shadow: 0 0 8px #F79E7C, inset 0 0 8px #F79E7C; }
  .filter-industry .insurer-map-point[occupation*="Cooper"] {
    fill: #012F63; }
    .filter-industry .insurer-map-point[occupation*="Cooper"]:hover {
      box-shadow: 0 0 8px #012F63, inset 0 0 8px #012F63; }
  .filter-industry .insurer-map-point[occupation*="Farmer"] {
    fill: #14A19B; }
    .filter-industry .insurer-map-point[occupation*="Farmer"]:hover {
      box-shadow: 0 0 8px #14A19B, inset 0 0 8px #14A19B; }
  .filter-industry .insurer-map-point[occupation="Factory worker"] {
    fill: #FC7D49; }
    .filter-industry .insurer-map-point[occupation="Factory worker"]:hover {
      box-shadow: 0 0 8px #FC7D49, inset 0 0 8px #FC7D49; }
  .filter-industry .insurer-map-point[occupation="Cobbler"] {
    fill: #32B67A; }
    .filter-industry .insurer-map-point[occupation="Cobbler"]:hover {
      box-shadow: 0 0 8px #32B67A, inset 0 0 8px #32B67A; }
  .filter-industry .insurer-map-point[occupation="Sailor"] {
    fill: #FFD462; }
    .filter-industry .insurer-map-point[occupation="Sailor"]:hover {
      box-shadow: 0 0 8px #FFD462, inset 0 0 8px #FFD462; }
  .filter-industry .insurer-map-point[occupation="Iron"] {
    fill: #FFD101; }
    .filter-industry .insurer-map-point[occupation="Iron"]:hover {
      box-shadow: 0 0 8px #FFD101, inset 0 0 8px #FFD101; }
  .filter-industry .insurer-map-point[occupation="female slave"] {
    fill: #B7E3E4; }
    .filter-industry .insurer-map-point[occupation="female slave"]:hover {
      box-shadow: 0 0 8px #B7E3E4, inset 0 0 8px #B7E3E4; }

.industry-chart-container {
  background-color: #282828;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%; }

.industry-chart-bar-container {
  margin-left: 1em;
  position: absolute;
  width: calc( 75% - 2em); }
  .industry-chart-bar-container:not(.hidden) {
    animation: slideUp 0.5s forwards; }
  @media only screen and (max-width: 1024px) {
    .industry-chart-bar-container {
      width: calc( 65% - 2em); } }
  @media only screen and (max-width: 769px) {
    .industry-chart-bar-container {
      width: calc( 100% - 2em); } }

@keyframes slideUp {
  0% {
    bottom: -100px; }
  100% {
    bottom: 0; } }

.industry-chart-bar-title {
  color: #A6A6A6;
  display: block;
  font-size: 14px;
  position: relative;
  text-align: center;
  top: -10px; }

.industry-chart-bar {
  display: flex;
  z-index: 10; }
  .industry-chart-bar .industry-chart-bar-section {
    height: 40px;
    display: inline-block; }
