$color-aig: #3FB7F7//#AD2D5C
$color-aetna: #FC7D49
$color-blic: #FFD462
$color-nyli: #CF423C
$color-other: #d3d3d3
// NOTE: switched BLIC & AIG colors 01.10.2018

//#insurers-map-wrapper
.chart-bar
    background-color: $color-other
    &[insurer*="Aig"], &[insurer*="AIG"], &[insurer*="aig"]
        background-color: $color-aig
    &[insurer*="Aetna"], &[insurer*="AETNA"], &[insurer*="aetna"]
        background-color: $color-aetna
    &[insurer*="blic"], &[insurer*="BLIC"], &[insurer*="Blic"]
        background-color: $color-blic
    &[insurer*="nyli"], &[insurer*="NYLI"], &[insurer*="Nyli"]
        background-color: $color-nyli

.insurer-map-point
    // transition: fill 0.5s ease
    fill: $color-other
    opacity: 0
    animation: fillColors 0.25s forwards
    &:nth-of-type(-n+12)
        animation-delay: 0.5s
    &:nth-of-type(n+12):nth-of-type(-n+24)
        animation-delay: 0.75s
    &:nth-of-type(n+24)
        animation-delay: 1s
    &:nth-of-type(n+36)
        animation-delay: 1.25s
    &:nth-of-type(n+48)
        animation-delay: 1.5s
    &:nth-of-type(n+60)
        animation-delay: 1.75s
    &:nth-of-type(n+72)
        animation-delay: 2s
    &:nth-of-type(n+84)
        animation-delay: 2.25s
    &:nth-of-type(n+96)
        animation-delay: 2.5s
    &:nth-of-type(n+108)
        animation-delay: 2.75s
    &:nth-of-type(n+120)
        animation-delay: 3s
    &:nth-of-type(n+132)
        animation-delay: 3.25s
    &:nth-of-type(n+144)
        animation-delay: 3.5s
    &:nth-of-type(n+156)
        animation-delay: 3.75s
    &:nth-of-type(n+168)
        animation-delay: 4s
    &[insurer*="Aig"], &[insurer*="AIG"], &[insurer*="aig"]
        fill: $color-aig
    &[insurer*="Aetna"], &[insurer*="AETNA"], &[insurer*="aetna"]
        fill: $color-aetna
    &[insurer*="blic"], &[insurer*="BLIC"], &[insurer*="Blic"]
        fill: $color-blic
    &[insurer*="nyli"], &[insurer*="NYLI"], &[insurer*="Nyli"]
        fill: $color-nyli

.insurer-map-point-tooltip-insurer
    &:before
        content: ""
        display: block
        position: relative
        border-radius: 50%
        text-align: center
        margin: 0 auto
        width: 14px
        height: 14px
    &[insurer*="Aig"], &[insurer*="AIG"], &[insurer*="aig"]
        &:before
            background-color: $color-aig
    &[insurer*="Aetna"], &[insurer*="AETNA"], &[insurer*="aetna"]
        &:before
            background-color: $color-aetna
    &[insurer*="blic"], &[insurer*="BLIC"], &[insurer*="Blic"]
        &:before
            background-color: $color-blic
    &[insurer*="nyli"], &[insurer*="NYLI"], &[insurer*="Nyli"]
        &:before
            background-color: $color-nyli
@keyframes fillColors  
    0% 
        opacity: 0
    80% 
        opacity: 0.7
    100% 
        opacity: 1
// @keyframes color-change 
//     from fill: red
//     to background-color: yellow