#heatmap-wrapper 
    height: 100%
    width: 80%
    display: inline-block
    display: inline-block
    margin: 0
    top: 0
    position: absolute
    .heatmap-svg
        fill: transparent
        .state
            stroke: #B5B5B5
            &:hover
                stroke: #FFD462
                stroke-width: 2px