$color-accent: #3FB7F7

.sidepanel 
    width: 20%
    height: 100%
    overflow-y: scroll
    display: inline-block
    position: absolute
    right: 0
    color: #797979
    .side-panel-headline 
        border-bottom: 1px solid white
        text-transform: uppercase
        width: 90%
    // .state-side-panel-column 

    .side-panel-list 
        list-style: none
        margin: 0
        padding: 0
        
    .side-panel-listed-name 
        cursor: pointer
        &:hover 
            color: $color-accent