#heatmap-wrapper {
  height: auto;
  width: 60%;
  display: inline-block;
  margin: 0 auto;
  top: 0;
  position: absolute;
  left: 0;
  right: 0; }
  #heatmap-wrapper .heatmap-svg {
    fill: transparent; }
    #heatmap-wrapper .heatmap-svg .state {
      stroke: #B5B5B5; }
      #heatmap-wrapper .heatmap-svg .state:hover {
        stroke: #FFD462;
        stroke-width: 2px; }
