.insurers-map-container {
  background-color: #191919;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 769px) {
    .insurers-map-container {
      overflow: auto;
      min-height: 100vh;
      display: flex;
      height: unset;
      flex-flow: row wrap-reverse; } }

.color-warning {
  color: #B33A3A; }

.unknown-locations {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center; }
  @media only screen and (max-width: 769px) {
    .unknown-locations {
      display: none; } }
