.post {
  display: flex;
  flex-flow: column;
  justify-content: center; }

.post-content {
  width: 769px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  @media only screen and (max-width: 769px) {
    .post-content {
      width: 100vw;
      padding: 1em; } }
  .post-content figure {
    margin: 0;
    width: 100%; }
  .post-content img {
    width: 100%;
    height: auto; }

.post-hero-banner {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-height: 360px; }
  @media only screen and (max-width: 992px) {
    .post-hero-banner {
      max-height: 320px; } }
  @media only screen and (max-width: 769px) {
    .post-hero-banner {
      max-height: 280px; } }
  @media only screen and (max-width: 576px) {
    .post-hero-banner {
      max-height: 240px; } }
  .post-hero-banner img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%; }
