.industry-chart-view-container {
  position: absolute;
  bottom: 200px; }

.industry-chart-view {
  align-items: flex-end;
  display: flex;
  flex-flow: row;
  margin-left: 1em;
  width: calc( 80% - 2em); }
  @media only screen and (max-width: 769px) {
    .industry-chart-view {
      width: calc( 100% - 2em); } }

.industry-chart-view-column {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 10px;
  position: relative; }
  @media only screen and (max-width: 1072px) {
    .industry-chart-view-column {
      padding: 0 4px; } }
  @media only screen and (max-width: 769px) {
    .industry-chart-view-column {
      padding: 0 2px; } }

.industry-chart-view-column-label {
  position: absolute;
  text-align: center;
  bottom: -2em;
  font-size: 14px;
  color: white; }

.industry-chart-view-point {
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin: 0.75px;
  width: 6px; }
  @media only screen and (max-width: 1072px) {
    .industry-chart-view-point {
      height: 5px;
      width: 5px; } }
  @media only screen and (max-width: 769px) {
    .industry-chart-view-point {
      height: 4px;
      width: 4px; } }
